conda.enabled = true

process {
   //container = 'image-registry.openshift-image-registry.svc:5000/cgsb-nextflow/miniconda3'
   container = 'quay.io/condaforge/mambaforge:latest'
   executor = 'k8s'
}

k8s {
   storageClaimName = 'cgsb-test-1'
   storageMountPath = '/nextflow/work'
   computeResourceType = 'Job'
}
