conda.enabled = true

params {
  path = "$PATH:/opt3/miniconda3/bin"
}

process {
   container = 'image-registry.openshift-image-registry.svc:5000/cgsb-nextflow/miniconda3'
   executor = 'k8s'
}

k8s {
   storageClaimName = 'cgsb-test-1'
   storageMountPath = '/nextflow/work'
   computeResourceType = 'Job'
}
